@import "~bpk-mixins";

.subheader{
  padding: 10px 1%;
  color: $bpk-color-blue-500;
  .filter{
    margin-right: 5%;
  }
  .alert{
    float:right;
    &:before{
      background-image: url('#{map-get($bpk-icons-sm, 'price-alerts-blue-500')}');
      width:30px;
      height:30px;
      content: " ";
      position:absolute;
      left: 374px;
      top: 185px;
      background-repeat: no-repeat;
    }
  }
}
